<div class="klaviyo_notify_popup_main" style="display: none;">
    <div class="popup_inner">
        
        <div class="popup_main_content">
            <form id="bis-form" class="form-popup" onsubmit="return false;" style="display: none;">
                <div class="product-title"></div>
                <div class="bis-variant-list"></div>
                <h4>Enter your email address to be notified by email when this product is restocked.</h4>
                <input type="email" placeholder="Enter email" name="email" id="bis_input" required style="width:70%;padding:10px;font-family:sans-serif;font-size:16px;border-radius:15px;border:1px solid #453734;">

                <button type="submit" class="product-form__submit button button--secondary">Submit</button>
            </form>
            <div id="success_message" style="display:none;">
                <p>You're in! We'll let you know when it's back. <span class="popup_close">&times;</span></p>
            </div>
        </div>
    </div>
</div>
