<div class="klaviyo_notify_popup_main coming_soon_popup" style="display: none;">
    <div class="popup_inner">
        
        <div class="popup_main_content">
            <form id="coming-soon-form" class="form-popup" onsubmit="return false;">
                <div class="product-title"></div>
                <div class="bis-variant-list"></div>
                <h4>REGISTER YOUR INTEREST FOR PRE-ORDER</h4>
                <div class="klaviyo-form-T4cYNL"></div>
            </form>
            {% comment %} <div id="success_message" style="display:none;">
                <p>You're in! We'll let you know when it's back. <span class="popup_close">&times;</span></p>
            </div> {% endcomment %}
             <span class="popup_close">&times;</span>
        </div>
    </div>
</div>
