<section class="styleguide">
    <div class="styleguide__typography row">
        <div class="col--6 col--md--2 col--lg--2">
            <h2 class="h1">{{ section.settings.section_heading }}</h2>
        </div>
        <div class="col--0 col--md--1"></div>
        <ul class="col--6 col--md--5 col--lg--8">
            <li>
                <p>Heading 1</p>
                <h1>heading 1 style Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu nisi</h1>
            </li>
            <li>
                <p>Heading 2</p>
                <h2>heading 2 style Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu nisi, laoreet morbi suspendisse lacus libero congue arcu</h2>
            </li>
            <li>
                <p>Heading 3</p>
                <h3>heading 3 style Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu nisi, laoreet morbi suspendisse lacus libero congue arcu habitant rutrum euismod</h3>
            </li>
            <li>
                <p>Heading 4</p>
                <h4>heading 4 style Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu nisi, laoreet morbi suspendisse lacus libero congue arcu habitant rutrum euismod lobortis porttitor neque aenean id primis lorem ipsum</h4>
            </li>
            <li>
                <p>Heading 5</p>
                <h5>Heading 5 style Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu nisi, laoreet morbi suspendisse lacus libero congue arcu habitant rutrum euismod lobortis porttitor neque aenean id primis lorem ipsum</h5>
            </li>
            <li>
                <p>Heading 6</p>
                <h6>Heading 6 style Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu nisi, laoreet morbi suspendisse lacus libero congue arcu habitant rutrum euismod lobortis porttitor neque aenean id primis lorem ipsum</h6>
            </li>
        </ul>
    </div>

    <div class="styleguide__divider"></div>

    <div class="styleguide__richtext row">
        <div class="col--6 col--md--2 col--lg--2">
            <h2 class="h1">rich text</h2>
        </div>
        <div class="col--0 col--md--1"></div>
        <div class="col--6 col--md--5 col--lg--8 wysiwyg">
            <strong>Body Copy Bold Style</strong>
            <p>Body Copy. Lorem ipsum dolor sit amet consectetur adipiscing elit, posuere sociis parturient fames euismod. Nibh elementum id condimentum vestibulum senectus sagittis torquent, rhoncus lacus penatibus pharetra fringilla cubilia quam, curabitur dui ridiculus neque ultrices cursus. Tempor tortor nulla mattis eget posuere aliquet urna torquent dui, eleifend proin suspendisse maecenas congue ultrices egestas.</p>
            <p>Class metus vivamus quam blandit ad, <a href="#">This is a Hyperlink</a> fringilla diam aptent, feugiat parturient aenean hendrerit tortor est nunc accumsan, dictumst interdum rutrum per nascetur posuere litora. Vulputate montes primis massa himenaeos a tristique inceptos, conubia dictum nulla parturient dapibus diam cursus ligula, dui mus blandit cras interdum habitasse.</p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipiscing elit, posuere sociis parturient fames euismod.</li>
                <li>Nibh elementum id condimentum vestibulum senectus sagittis torquent, rhoncus lacus penatibus pharetra fringilla cubilia quam, curabitur dui ridiculus neque ultrices cursus.</li>
                <li>Feugiat parturient aenean hendrerit tortor est nunc</li>
                <li>Vulputate montes primis massa himenaeos a tristique inceptos, conubia dictum nulla parturient dapibus diam cursus ligula</li>
                <li>Rhoncus lacus penatibus pharetra fringilla cubilia quam</li>
            </ul>
            <span class="divider"></span>
            <h4>“This is a quote style. Lorem ipsum dolor sit amet consectetur adipiscing elit massa, hendrerit et a inceptos id pretium. Nisl cum condimentum porta curabitur bibendum posuere neque purus iaculis, pulvinar mattis at eleifend felis elementum dui suscipit semper sollicitudin.”</h4>
        </div>
    </div>

    <div class="styleguide__divider"></div>

    <div class="styleguide__buttons">
        <div class="row">
            <div class="col--6 col--md--2 col--lg--2">
                <h2 class="h1">button styles</h2>
            </div>
            <div class="col--0 col--md--1"></div>
            <ul class="col--6 col--md--5 col--lg--6">
                <li>
                    <div>
                        <strong>Underline Buttons</strong>
                        <p>On White</p>
                    </div>
                    <div class="bg--white text--neutral-warm">
                        <a href="#" class="btn btn--underline"><h3>underline large</h3></a>
                        <a href="#" class="btn btn--underline"><h4>underline small</h4></a>
                    </div>
                </li>
                <li>
                    <div>
                        <strong>Underline Buttons</strong>
                        <p>On Dark or Image</p>
                    </div>
                    <div class="bg--neutral-warm text--white">
                        <a href="#" class="btn btn--underline btn--dark"><h3>underline large</h3></a>
                        <a href="#" class="btn btn--underline btn--dark"><h4>underline small</h4></a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col--0 col--md--3 col--lg--3"></div>

           <div class="styleguide__buttons__column col--6 col--md--2 col--lg--2">
                <div class="styleguide__buttons__item">
                    <div>
                        <strong>Box Buttons</strong>
                        <p>x3 (Neutral Warm, Stone &amp; White)</p>
                    </div>
                    <a href="#" class="btn btn--dark">
                        <p>Box Button with Icon</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 5 6 6">
                            <path d="M1.63156 5H5.70383C5.87307 5 6 5.12693 6 5.28559V9.35787C6 9.5271 5.86249 9.65403 5.69326 9.65403H5.44998C5.28074 9.65403 5.15381 9.51653 5.15381 9.35787V6.43852L0.690172 10.9127C0.573821 11.0291 0.383429 11.0291 0.267078 10.9127L0.0872631 10.7329C-0.0290877 10.6166 -0.0290877 10.4262 0.0872631 10.3098L4.56148 5.84619H1.63156C1.46232 5.84619 1.33539 5.71926 1.33539 5.5606V5.31732C1.33539 5.13751 1.46232 5 1.63156 5Z" fill="white"></path>
                        </svg>
                    </a>
                    <a href="#" class="btn btn--light">
                        <p>Box Button with Icon</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 5 6 6">
                            <path d="M1.63156 5H5.70383C5.87307 5 6 5.12693 6 5.28559V9.35787C6 9.5271 5.86249 9.65403 5.69326 9.65403H5.44998C5.28074 9.65403 5.15381 9.51653 5.15381 9.35787V6.43852L0.690172 10.9127C0.573821 11.0291 0.383429 11.0291 0.267078 10.9127L0.0872631 10.7329C-0.0290877 10.6166 -0.0290877 10.4262 0.0872631 10.3098L4.56148 5.84619H1.63156C1.46232 5.84619 1.33539 5.71926 1.33539 5.5606V5.31732C1.33539 5.13751 1.46232 5 1.63156 5Z" fill="#383230"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="col--0 col--lg--1"></div>

        <div class="styleguide__buttons__column col--6 col--md--3 col--lg--4">
            <div class="styleguide__buttons__item">
                <div>
                    <strong>Box Buttons</strong>
                    <p>Specific changes</p>
                </div>
                <a href="#" class="btn btn--dark-stone btn--plus">
                    <p>Add to cart</p>
                    <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.256 3.512H6.846V4.52H4.256V7.11H3.164V4.52H0.56V3.512H3.164V0.922H4.256V3.512Z" fill="#E6E0D4"></path>
                    </svg>
                </a>
            </div>
            <div class="purchase-cta">
                <div class="purchase-cta__text">
                    <strong>Size:&nbsp;</strong>
                    <p>Your recommended size is <span class="medium">Medium</span></p>
                    <a href="#" class="btn btn--underline"><p>Size Guide</p></a>
                </div>
                <select name="Size select" class="c-select tomselected" aria-label="Select size" id="tomselect-1" tabindex="-1">
                    <option value="smalle">Small</option>
                    <option value="large">Large</option>
                    <option value="medium" selected="">Medium</option>
                </select>
             <!-- <div class="ts-wrapper c-select single full has-items">
                <div class="ts-control" role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-controls="tomselect-1-ts-dropdown" id="tomselect-1-ts-control" tabindex="0">
                  <div data-value="medium" class="item" data-ts-item="">Medium</div>
                </div>
                <div class="ts-dropdown single" style="display: none;"><div role="listbox" tabindex="-1" class="ts-dropdown-content" id="tomselect-1-ts-dropdown"></div>
              </div>
              </div> -->
                <a href="#" class="btn btn--dark-stone btn--plus">
                    <p>Add to cart</p>
                    <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.256 3.512H6.846V4.52H4.256V7.11H3.164V4.52H0.56V3.512H3.164V0.922H4.256V3.512Z" fill="#E6E0D4"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="styleguide__divider"></div>

    <div class="row">
        <h2 class="h1 col--6">global modules</h2>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Style Guide",
    "settings": [
      {
        "type": "header",
        "content": "Section Content"
      },
      {
        "type": "text",
        "id": "section_heading",
        "label": "Heading",
        "default": "Heading Typography"
      }
    ],
    "presets": [
      {
        "name": "Style Guide"
      }
    ]
  }
{% endschema %}